@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital@1&display=swap');

#feedback-page{
	text-align:center;
}
.container{
  padding: 11px;
}
.size{
  width: 50% !important;
  margin-right: 5px;
  margin-top: 5px;
}
.align{
  margin-left: 104px;
}


#form-div {
	background-color:rgba(72,72,72,0.4);
	padding-left:35px;
	padding-right:35px;
	padding-top:35px;
	padding-bottom:50px;
	width: 450px;
	float: left;
	left: 50%;
  margin-top:30px;
  position: relative;
	margin-left: -260px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

.feedback-input {
	color:#3c3c3c;
	font-family: 'Dosis';
  font-weight:500;
	font-size: 18px;
  border-radius: 15px;
  line-height: 22px;
  border: 1px solid black;
	background-color: #fbfbfb;
	padding: 13px 13px 13px 54px;
  margin: 10px;
  height: 400px;
  overflow-y: auto;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.feedback-input .chatter-name{
  font-family: 'Pangolin', cursive;
  padding-right: 5px;
  font-size: 15px;
  color: #1594e9;
}

.feedback-input:focus{
	background: #fff;
	box-shadow: 0;
	border: 3px solid #3498db;
	color: #3498db;
	outline: none;
  padding: 13px 13px 13px 54px;
}

.focused{
	color:#30aed6;
	border:#30aed6 solid 3px;
}



textarea {
    width: 100%;
    border-radius: 5px;
    height: 350px;
    line-height: 150%;
    resize:vertical;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
	background-color:white;
}

#input-box{
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	float:left;
	width: 80%;
	border: #fbfbfb solid 4px;
	cursor:pointer;
	color:black;
  font-size:15px;
  line-height: 3;
	padding-top:5px;
	padding-bottom:5px;
  font-weight:700;
  margin: 15px;
}

#button-blue{
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	float:left;
	width: 100%;
	border: #fbfbfb solid 4px;
	cursor:pointer;
	background-color: #3498db;
	color:white;
	font-size:24px;
	padding-top:22px;
	padding-bottom:22px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}

.adjustment{
  padding-left: 15px;
  padding-top: 15px;
}

.connectionIdFont{
  font-family: 'DM Mono', monospace;
  font-size: medium;
}

.todo{
  margin-left: 100px;
    margin-bottom: 20px;
}


@media only screen and (max-width: 580px) {
	#form-div{
		left: 3%;
		margin-right: 3%;
		width: 88%;
		margin-left: 0;
		padding-left: 3%;
		padding-right: 3%;
	}
}
