/* You can add global styles to this file, and also import other style files */

body{
  background: linear-gradient(150deg,#D5E3F1 15%,#FFFBD9 70%,#FFDFCB 94%);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
